@model NewDemoProject.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Welcome User</h2>

<button type="button" style="padding:30px 30px 30px 30px " class="btn btn-default">
    Create Incident
</button>

<button type="button" class="btn btn-default" style="padding:30px 30px 30px 30px ;">
    @Html.ActionLink("List Incidents", "listtickets", "track", new { Model.Email_ID }, null)

</button>

